:root {
    --clr-text: #000000; /* Black */
    --clr-text-light: #333333; /* Dark Gray */
    --clr-text-light-2: #666666; /* Lighter Gray */
    --clr-cards: #ffffff; /* White */
    --clr-background-dark: #f0f0f0; /* Light Gray */
    --clr-background: #ffffff; /* White */
    --clr-background-light: #e0e0e0; /* Very Light Gray */
    --clr-black: #000000; /* Black */
    --clr-text-blue: #0056b3; /* Blue */
    --clr-header: #cccccc; /* Light Gray */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Rubik, sans-serif;
    background-color: var(--clr-background);
    color: var(--clr-text);
    text-align: center;
}

.hero {
    padding: 10% 0px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8)), 
                url('Imgs/background.png') no-repeat center center/cover;
    color: var(--clr-text);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.hero button {
    margin-top: 4%;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: var(--clr-text-light);
}

.hero h2 {
    font-size: 24px;
    color: var(--clr-text-light-2);
}

.hero2 {
    color: var(--clr-text);
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 25px;
}

.hero-back {
    background-color: var(--clr-background-dark);
}

.hero-back button {
    font-weight: 500;
    background-color: var(--clr-background-dark);
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    transform-style: preserve-3d;
}

.projects {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 50px;
    margin-left: 3%;
    margin-right: 3%;
}

.projects button {
    background-color: var(--clr-cards);
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    transform-style: preserve-3d;
}

.project {
    background-color: var(--clr-cards);
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    height: 400px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--clr-text-light);
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.project-icon img {
    width: 150px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.project h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.project p {
    font-size: 14px;
    color: var(--clr-text-light);
    margin-bottom: 30px;
}

.footer {
    padding: 20px 0;
    background-color: var(--clr-background-dark);
    color: var(--clr-text);
    text-align: center;
    box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
}

.footer .social-icons {
    margin-bottom: 10px;
}

.footer .social-icons img {
    transition: transform 0.3s ease;
}

.footer .social-icons img:hover {
    transform: scale(1.2) rotate(10deg);
}

.footer p {
    margin: 0;
}

button {
    padding: 9px 25px;
    color: var(--clr-text);
    background-color: var(--clr-background-light);
    border: 2px solid var(--clr-text-light);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease, transform 0.3s ease, background 0.3s ease;
}

button:hover {
    color: var(--clr-background);
    background: linear-gradient(45deg, var(--clr-black), rgba(0, 0, 0, 0.8));
    transform: scale(1.1) rotate(3deg);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.8);
}

input {
    background-color: var(--clr-background-light);
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 16px 16px;
    border: 2px solid var(--clr-text-light);
    border-radius: 10px;
    color: var(--clr-text);
    display: flex;
    font-weight: bold;
    font-family: Rubik, sans-serif;
}

textarea {
    background-color: var(--clr-background-light);
    width: 50%;
    margin: auto;
    font-size: 20px;
    padding: 16px 16px;
    border: 2px solid var(--clr-text-light);
    border-radius: 10px;
    color: var(--clr-text);
    display: flex;
    font-weight: bold;
    font-family: Rubik, sans-serif;
    margin-bottom: 5%;
}

input:hover {
    background-color: var(--clr-text);
    color: var(--clr-background);
    transition-duration: 0.4s;
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

textarea:hover {
    background-color: var(--clr-text);
    color: var(--clr-background);
    transition-duration: 0.4s;
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Contact-back {
    background: linear-gradient(to bottom, var(--clr-background-light), var(--clr-background-dark));
    box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
}

form h1 {
    color: var(--clr-text);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5%;
    margin-top: 5%;
    padding-top: 4%;
}

@media screen and (max-width: 1024px) {
    input, textarea {
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .projects {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero h1 {
        font-size: 32px;
    }

    .hero h2 {
        font-size: 20px;
    }

    .hero {
        padding: 15% 0px;
    }

    .hero2 h2 {
        font-size: 28px;
    }

    form h1 {
        font-size: 32px;
    }

    .hero button {
        margin-top: 6%;
        font-weight: 500;
    }
}

@media screen and (max-width: 500px) {
    form h1 {
        color: var(--clr-text);
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 10%;
        margin-top: 5%;
        padding-top: 10%;
    }

    form button {
        margin-top: 7%;
    }

    .hero {
        padding: 30% 0px; /* Reduced padding */
        margin-top: 0; /* Removed margin-top */
        margin-bottom: 30px; /* Increased margin-bottom */
    }

    .hero h1 {
        font-size: 28px; /* Adjusted font size */
    }

    .hero h2 {
        font-size: 16px; /* Adjusted font size */
    }

    .hero button {
        margin-top: 8%; /* Adjusted margin-top */
    }

    .projects {
        flex-direction: column;
        gap: 30px; /* Increased gap between projects */
    }

    .project {
        width: 250px; /* Reverted width */
        height: 400px; /* Reverted height */
        padding: 20px; /* Reverted padding */
    }

    .project-icon img {
        width: 150px; /* Reverted image size */
    }

    .project h3 {
        font-size: 20px; /* Reverted font size */
    }

    .project p {
        font-size: 14px; /* Reverted font size */
    }
}

form button {
    background-color: var(--clr-background-light);
    cursor: pointer;
    display: flex;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    font-family: Rubik, sans-serif;
    font-weight: 500;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    transform-style: preserve-3d;
}