:root {
    --clr-text: #fffffe;
    --clr-text-light: #D1D1D1;
    --clr-text-light-2: #B1B1B1;
    --clr-cards: #2C2D3F;
    --clr-background-dark: #080913;
    --clr-background: #0D0E1E;
    --clr-background-light: #1C1D2F;
    --clr-black: #000000;
    --clr-text-blue: #0d0e1e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--clr-background);
    color: var(--clr-text);
    text-align: center;
}

header {
    background-color: var(--clr-black);
    padding: 10px 0;
}

nav a {
    color: var(--clr-text);
    text-decoration: none;
    font-size: 18px;
}

.hero {
    padding: 10% 0px;  
}
.hero button {
    margin-top: 4%;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero h2 {
    font-size: 24px;
    color: var(--clr-text-light);
}

.hero2 {
    color: var(--clr-text);
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 25px;
}

.hero-back {
    background-color: var(--clr-background-dark);
}

.projects {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px 0;
    gap: 100px;
}

.project {
    background-color: var(--clr-cards);
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    height: 400px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid;
    border-radius: 10px;
    animation: rainbowBorder 6s infinite;
}

@keyframes rainbowBorder {
    0% { border-color: red; }
    8.33% { border-color: orange; }
    16.66% { border-color: yellow; }
    25% { border-color: lime; }
    33.33% { border-color: green; }
    41.66% { border-color: cyan; }
    50% { border-color: blue; }
    58.33% { border-color: indigo; }
    66.66% { border-color: violet; }
    75% { border-color: pink; }
    83.33% { border-color: magenta; }
    91.66% { border-color: coral; }
    100% { border-color: red; }
  }

.project-icon img {
    width: 150px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.project h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.project p {
    font-size: 14px;
    color: var(--clr-text-light-2);
    margin-bottom: 30px;
}   

.footer {
    padding-bottom: 1%;
}

button {
    padding: 9px 25px;
    background-color: var(--clr-background-light);
    color: var(--clr-text);
    border: 2px solid;
    border-radius: 10px;
    animation: rainbowBorder 6s infinite;
    cursor: pointer;
    transition: all 0.3S ease 0S;
}

button:hover {
    color: var(--clr-black);
    background-color: var(--clr-text);
}

/* Contact Form */
input {
    background-color: var(--clr-background-light);
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 16px 16px;
    border: 2px solid;
    border-radius: 10px;
    animation: rainbowBorder 6s infinite;
    color: var(--clr-text);
    display: flex;
    font-weight: bold;
    font-family: "Rubik";
}

/* Text Area */
textarea {
    background-color: var(--clr-background-light);
    width: 50%;
    margin: auto;
    font-size: 20px;
    padding: 16px 16px;
    border: 2px solid;
    border-radius: 10px;
    animation: rainbowBorder 6s infinite;
    color: var(--clr-text);
    display: flex;
    font-weight: bold;
    font-family: "Rubik";
    margin-bottom: 5%;
}

/* Input Hover */
input:hover {
    background-color: var(--clr-text);
    color: var(--clr-black);
    transition-duration: 0.4s;
    cursor: pointer;
}

/* Text Area Hover */
textarea:hover {
    background-color: var(--clr-text);
    color: var(--clr-black);
    transition-duration: 0.4s;
    cursor: pointer;
}

.Contact-back {
    background-color: var(--clr-background-light);
}

form h1 {
    color: var(--clr-text);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5%;
    margin-top: 5%;
    padding-top: 4%;
}

/* Input / Text Area Main Screen */
@media screen and (max-width: 1024px) {
    input, textarea {
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .projects {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero h1 {
        font-size: 32px;
    }

    .hero h2 {
        font-size: 20px;
    }

    .hero {
        padding: 15% 0px;
    }

    .hero2 h2 {
        font-size: 28px;
    }

    form h1 {
        font-size: 32px;
    }

    .hero button {
        margin-top: 6%;
    }
}

@media screen and (max-width: 500px) {
    form h1 {
        color: var(--clr-text);
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 10%;
        margin-top: 5%;
        padding-top: 10%;
    }

    form button {
        margin-top: 7%;
    }

    .hero h1 {
        font-size: 28px;
    }

    .hero h2 {
        font-size: 16px;
    }

    .hero button {
        margin-top: 8%;
    }
}

form button {
    background-color: var(--clr-background);
    cursor: pointer;
    display: flex;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Rubik";
}